{% extends '_layouts/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="text-center">Discography</h1>
      <div class="row">
        <ul class="list-unstyled">
        {% for discs in queen.discography %}
          <li class="media">
              <img class="discography" src="img/discs/{{discs.image}}" alt="Album cover">
              <div class="media-body">
              <h5 class="mt-0 mb-1">{{discs.title}}</h5>
              {{discs.year}}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}