<div class="jumbotron banner text-center">
  <img src="img/queen-logo-white.png" alt="group photo" class="responsive">
  <p>Archive of Queen's orignal members and a complete discography of their albums</p> 
</div>