.jumbotron.banner {
  background: url(../img/queen-band-wallpaper.jpg) no-repeat center;
  background-size: cover;
  // min-height: 250px;
  color: white;
  // padding-top: 8rem
}

.jumbotron {
  margin-bottom: 30px;
}

.jumbotron img {
  height: 60px;
  vertical-align: middle;
  margin-top: 2rem;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { height: 80px; }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { height: 120px; }

  // Large devices (desktops, 992px and up)
  // @media (min-width: 992px) { ... }
}